body {
	background-image: url('/images/bg_flowers.jpg');
	background-repeat: no-repeat;
}

.navigation {
}

#main > div:not(:first-child) {
	display: none;
}

#projects_switch {
	background-color: rgba(188,214,227,0.5);
}

#notes_block {
	padding: 2%;
	border-radius: 1px;
	background-color: rgba(188,214,227,0.5);
}

#books_switch {
	background-color: rgba(227,228,230,0.5);
}

#books_block {
	background-color: rgba(227,228,230,0.5);
	padding: 2%;
	border-radius: 1px;
}

#tools_switch {
	background-color: rgba(224,203,172,0.5);
}

#reads_block {
	background-color: rgba(224,203,172,0.5);
	padding: 2%;
	border-radius: 1px;
}

#music_switch {
	background-color: rgba();
}

#music_block {
	background-color: transparent;
	padding: 2%;
	border-radius: 1px;


ul {
    list-style-type: none;
}
