
body p {
  color: whitesmoke;
	background-color: #241734;
	position: relative;
	padding: 2px;
	display:inline-block;
	z-index: 0;
}

#Header {
  color:            whitesmoke;
  font-weight:      200;
  background-color: #241734;
}

#Header p {
  color: whitesmoke;
  font-size: 146%;
  padding: 10px;
	background-color: #241734;
}

#Services {
  padding:15px;
  margin: 0.5%;
}

#Services h3{
  text-transform: uppercase;
  font-weight: 150;
  color: #F6019D;
  background-color: #241734;

}

#Services .descriptor {
  padding:          5px;
  color:            whitesmoke;
  font-weight:      200;
  background-color: #241734;
}

#Misc {
  margin:auto;
  padding:10px;
}

#informationDesk p {
  font-weight: 150;
}

#playlist p {
   font-weight:      bold;
   background-color: black;
}
.navigation button {
  font-weight:      500;
  background-color: #F6019D;
  text-align:       center;
  color:            whitesmoke;
  margin:           5% !important;
 
}

ul {
    list-style-type: none;
}
