body {
    width:       50%; 
    margin:      auto;	
	font-size:   13pt;
	color:       #2e2e2e;
	background:  #fbfbfb;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    color:        black;
}

h1 {
	font-size:     3em;
	line-height:   1;
	margin-bottom: 0.5em;
    margin-top:    2em;
    text-transform: uppercase;
}

h2 {
	font-size:     2em;
	margin-bottom: 0.75em;
    margin-top:    1.5em;
    text-transform: uppercase;
}

h3 {
	font-size:   1.5em;
	line-height: 1;
	margin-top:  1.5em;
}

a:focus, a:hover {
	color: #999999;
}

a {
	color:           #86c6be;
	text-decoration: underline;
}

blockquote {
	margin: 1.5em;
    color:  #999999;
    font-weight: bolder;
    font-size: 1.2em;
}